# Flutter/Dart
.dart_tool/
.packages
build/
.idea/
android/.gradle/
ios/Pods/
macos/Pods/
.flutter-plugins
.flutter-plugins-dependencies

# Assets (Large files you don’t want in Git)
*.svg
*.png
*.mp4
*.zip

# Other
*.log
